* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
}

/* header */

nav {
    max-width: 1500px;
    margin: auto;
    height: 72px;
    background-color: rgb(0, 132, 253);
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: 100%;
    margin: auto;
}

.nav-logo {
    max-width: 200%;
}

.nav-logo img {
    width: 100%;
}

.nav-list {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 1.5em;
    font-size: .8em;
    height: 100%;
}

.nav-item a{
    color: white;
    text-decoration: none;
}

.nav-item a:hover {
    color: rgb(171, 171, 171);
}

.nav-item button {
    padding: .6em .8em;
    border: 0px;
    border-radius: 5em;
}

.nav-item button:hover {
    background-color: rgb(192, 192, 192);
    cursor: pointer;;
}

.hamburger {
    display: none;
}

