/* reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
}

button {
    white-space: nowrap;
}

/* nav */

nav {
    max-width: 1500px;
    margin: auto;
    height: 72px;
    background-color: rgb(0, 132, 253);
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 80%;
    height: 100%;
    margin: auto;
}

.nav-logo {
    max-width: 200px;
}

.nav-logo img {
    width: 100%;
}

.nav-list {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 1.5em;
    font-size: .8em;
    height: 100%;
}

.nav-item a{
    color: white;
    text-decoration: none;
}

.nav-item a:hover {
    color: rgb(171, 171, 171);
}

.nav-item button {
    padding: .6em .8em;
    border: 0px;
    border-radius: 5em;
}

.nav-item button:hover {
    background-color: rgb(192, 192, 192);
    cursor: pointer;
}

.hamburger {
    display: none;
}

.hamburger button {
    background-color: rgb(0, 132, 253);
    color: white;
    border: 0px;
    font-size: 1.5em;
}

.hamburger button:hover {
    cursor: pointer;
    color: rgb(171, 171, 171);
}


@media screen and (max-width: 811px) {
    .nav-logo {
        max-width: 70px;
    }
    
    .nav-logo img {
        width: 100%;
    }

    .nav-list {
        display: none;
    }

    .hamburger {
        display: inline-block;
    }

    .nav-container {
        max-width: 90%;
    }
}

/* main */

main {
    max-width: 1500px;
    margin: auto;
}

/* applications */

.app-container {
    max-width: 80%;
    margin: auto;
    margin-top: 3rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}

.app-card,
.big-card {
    background-color: rgb(181, 221, 255);
    border-radius: 2em;

    padding: 1rem;
}

.big-card {
    flex-basis: calc(100% - calc((100% - 2em) / 3) - 1em);
}

.app-card {
    flex-basis: calc((100% - 2em) / 3);
}

.app-subtitle {
    color: rgb(0, 132, 253);
}

.app-text {
    text-align: center;
}

.app-button {
    margin-top: 1em;
    color: white;
    border: 0px;
    border-radius: 1em;
    padding: .6em 2.6em;
    background-color: rgb(0, 132, 253);
}

.app-button:hover {
    cursor: pointer;
    color: rgb(171, 171, 171);
}

.melamarcia {
    margin-right: .3em;
}

@media screen and (max-width: 600px) {
    .app-container {
        display: flex;
        flex-direction: column;
    }
}